html{
    padding: 0;
    text-decoration: none;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e8e9ed;
}

/* Start login pagina*/
.main-login{
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 25vh;
}

.main-login input,select{
    width: 200px;
    padding: 8px;
    margin: 8px;
    background-color: rgb(245, 245, 245);
    border: 10px rgb(245, 245, 245);
    outline: none;
    border-radius: 8px;
}

input[type="submit"], #options input[type="submit"] {
    background-color: #19a282;
    width: 220px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover, #options input[type="submit"]:hover {
    background-color: #5cc7b1;
}
/* Eind login pagina*/

/*Gebruiker pagina*/
.main-gebruiker{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #1d2226;
}

.main-gebruiker table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
  }
  
 .main-gebruiker td, th {
    border: 1px solid #19a282;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  .main-gebruiker th {
    background-color: #19a282;
    color: white;
  }
  
  .main-gebruiker tr:nth-child(odd) {
    background-color: #dedede;
  }
/* Eind Gebruiker pagina*/ 

/*---------- beheerderspagina ----------*/
#tables {
    grid-column: 1 / 2;
}

#options {
    grid-column: 2 / 3;
    border-left: 0.1rem solid #ccc;
    padding-left: 2rem;
}

#options div {
    margin-left: 8px;
}

#options input {
    width: 200px;
    padding: 8px;
    margin: 8px;
    background-color: rgb(245, 245, 245);
    border: 10px rgb(245, 245, 245);
    outline: none;
    border-radius: 8px;
}
